<div class="container" >
  <div class="row justify-content-center" style="min-height:500px;">
    <div class="col-8">
      <h1 class="text-center" style="margin-top:100px;">This is our beautiful site</h1>
      <div class="signup-button text-center" style="position:relative; top:50%; height:45px;"><a href="#">Sign In</a></div>
      <div class="signin-button text-center" style="position:relative; top:50%; height:45px;"><a href="#">Sign Up</a></div>
    </div>
  </div>
</div>